



<form class ="margin" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
    <H2>Employee Search List Screen</H2>
<p>
    <label for="sr_emp_no">Employee Number</label>
    <input type="number" ngmodel name="sr_emp_no" min="0" ngModel oninput="validity.valid||(value='');">
  </p>
 <p>
    <label for="gender">Gender </label>
    <select name="sr_gender" ngModel id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="M">M</option>
        <option value="F">F</option>
        <option value="ND">ND</option>
      </select>
 </p>
 <p>
    <label for="sr_emp_name">Employee Name</label>
    <input type="text" ngModel name="sr_emp_name" >
  </p>
  <button type="submit" class="btn btn-primary" >Search</button>
</form>
<div class=margin>
    <button type="button" class="btn btn-primary" [routerLink]="['/addemp']">Add Employee</button>
     <button type="button" class="btn btn-primary" >CSV Download</button>
    <div>{{msg}}</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Employee</th>
            <th scope="col">Contact</th>
            <th scope="col">Level/Post</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of Employees">
            <td>{{emp.first_name}} {{emp.last_name}} <br> {{emp.emp_id}}</td>
            <td>{{emp.mobile_num}}<br>{{emp.office_mail}}</td>
            <td>{{emp.emp_level}}/<br>{{emp.post_name}}</td>
            <td>
                
                <a [routerLink]="['/emphist']" [queryParams]="{id:emp.emp_id ,fname:emp.first_name,lname:emp.last_name }">Employment</a>/
                <a [routerLink]="['/addeditemp']" [queryParams]="{id:emp.emp_id }">Edit</a>/
                <a (click)="deleteconf(emp.emp_id)" href="javascript:void(0)" >Delete</a>
        
            </td>


        </tr>
    </tbody>
</table>
</div>
